.filtersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.panel {
    width: 360px;
}

.filerIcon {
    width: 32px;
    height: 32px;
}

.favorite {
    fill: var(--button-color)
}