.detailsPage {
    width: 1440px;
    margin: 0 auto;
    padding: 48px 64px;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
}

.feachersContainer {
    width: 631px;
    height: 588px;
}

.link {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
}

.addLinks {
    display: flex;
    gap: 40px;
    height: 48px;
    border-bottom: 1px solid var(--gray-light-color);
    margin-bottom: 44px;
}


.link {
    position: relative;
    text-decoration: none;
}

.link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--button-color);
    /* Цвет подчеркивания */
    transition: width 0.2s ease-in-out;
    /* Анимация появления подчеркивания */
}

.link.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--button-color);
    /* Цвет подчеркивания */
    transition: width 0.2s ease-in-out;
    /* Анимация появления подчеркивания */
}

.link:hover::before {
    width: 100%;
}

.loader {
    margin-top: 50%;
    justify-content: center;
}